
@{
    Layout = null;
}
<div class="nav">
    <div class="pull_down" type="n1" style="display: none;">
        <div class="topline"></div>
        <div class="on_hover">
            <ul>
                <li><a href="/Manage/Product">产品管理</a></li>
                <li><a href="/Manage/Product/ProductType">类型管理</a></li>
            </ul>
        </div>
    </div>
    <div class="pull_down" type="n3" style="display: none;">
        <div class="topline"></div>
        <div class="on_hover">
            <ul>
                <li><a href="/Manage/Content/Company">公司内容类</a></li>
                <li><a href="/Manage/Content/News">新闻咨询类</a></li>
                <li><a href="/Manage/SurportType">技术支持分类</a></li>
            </ul>
        </div>
    </div>
    <div class="pull_down" type="n5" style="display: none;">
        <div class="topline"></div>
        <div class="on_hover">
            <ul>
                <li><a href="/SystemMessage">系统消息管理</a></li>
            </ul>
        </div>
    </div>
    <div class="pull_down" type="n6" style="display: none;">
        <div class="topline"></div>
        <div class="on_hover">
            <ul>
                <li><a href="/Content/News">系统管理</a></li>
            </ul>
        </div>
    </div>
    @*    <div class="pull_down" type="n7" style="display: none;">
            <div class="topline"></div>
            <div class="on_hover" >
            </div>
        </div>*@
    <!--菜单下拉层结束 -->
    <div class="logo">
        <a href="#">
            <img src="/Content/images/logo_s.png" />
        </a>
    </div>
    <ul id="menu_root">
        <li><a href="/Manage/Main">首      页</a></li>
        <li n="1"><a href="javascript:;">产品管理</a></li>
        <li><a href="/Manage/Slide">幻灯片管理</a></li>
        <li n="3"><a>内容管理</a></li>
        <li><a href="/Manage/CustomerMessage">留言管理</a></li>
        @*<li><a>系统管理</a></li>*@
        @*<li n="7"><a href="javascript:;">微信管理</a></li>*@
    </ul>
</div>


