@charset "utf-8";
/* CSS Document */

*
{
    margin: 0;
    padding: 0;	
}
ul
{
    list-style: none;
}
ul, ol, li
{
    list-style: none;
}
input, button
{
    margin:0;
    font-size: 12px;
    vertical-align: middle; 
	cursor:pointer;
	border:none;
}

body
{   color:#000;
    font-size: 12px; width:100%;
    font-family:"宋体";
    background: url(../images/manage_back.png);
}
a
{
    text-decoration: none; color:#0a6fad;
}
a:hover
{
    cursor:pointer;
    cursor:hand; 
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
img{ border:0;}
.clear
{
    clear: both;
}
.xinte{background-color:#d97500; padding:1px 3px;color:#fff; line-height:14px;cursor:pointer;}
.tejia{background-color:#d30124; padding:1px 3px;color:#fff; line-height:14px;cursor:pointer;}
.manfan{background-color:#00a9fe; padding:1px 3px;color:#fff;line-height:14px;cursor:pointer;}
.maizeng{background-color:#ba03bf; padding:1px 3px;color:#fff;line-height:14px;cursor:pointer;}
.manjian{background-color:#00a01e; padding:1px 3px;color:#fff;line-height:14px;cursor:pointer;}
.left{ margin-left:5%;}
.right{ margin-right:5%;}
.border{ border-bottom:1px solid #d8d8d8; overflow:hidden;}
.red{color:#ea0616;}
.gray{color:#999;}
.blue{color:#0a6fad;}
.green{color:#018a24;}
.white{ color:#fff;}
.hide{ display:none;}
.mright{margin-right:10px;}
.mbottom{margin-bottom:80px;}
.pright{padding-right:30px;}
.tright{ text-align:right;}
.tleft{ text-align:left; }
.yahei{font-family:"微软雅黑";}
.fleft{ float:left;}
.fright{ float:right;}
.button_centerbox{ text-align:center; margin:10px auto;}
.btn_b_gray{background-color:#ccc; height:32px; line-height:26px; width:100px; text-align:center; color:#fff; margin-top:20px; font-size:14px; font-weight:bold; font-family:"微软雅黑";}
.a_b_gray{background-color:#ccc; height:32px; line-height:26px; width:100px; text-align:center; color:#fff; margin-top:20px; font-size:14px; font-weight:bold; padding:6px 22px;font-family:"微软雅黑";}
.bold{ font-weight:bold;}
.select_h{ height:24px; float:left; }
.tab_infoss .answer_list{ margin-right:20px;}
.p_next{ margin-top:20px; margin-left:80px;}
.p_next input{background-color:#00a9fe; padding:3px 6px;color:#fff;line-height:14px;cursor:pointer;}
.line{ border-bottom:1px dotted #ccc; padding-bottom:10px;}
.fleft{ float:left;}
/*翻页*/
.pagebox {
	width:100%;
	height:100%;
	overflow:hidden;
}
.page {
	padding:16px 10px 0px 30px;
	/*width:490px;*/
	height: 40px; float:right;
}
.page span{
	padding: 5px 8px;
	padding-left:16px;
	margin:0px 1px;
	color:#999;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #d9d9d9;
	text-decoration:none;
	background:url(../images/p_left.jpg) #fff no-repeat 5px center;
}
.page span.prt{
	padding: 5px 8px;
	padding-right:16px;
	background:url(../images/p_right.jpg) #fff no-repeat 48px center;
}
.page a {
	padding: 5px 8px;
	margin:0px 1px;
	color:#3698d4;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #d9d9d9;
	text-decoration:none;
}
.page a:hover {
	border-color:#3698d4;
	background:#c7eaff;
}
.page a.on {
	border-color:#3698d4;
	background:#c7eaff;
}
.page a.pleft{
	padding-left:16px;
	background:url(../images/p_left.jpg) #fff no-repeat 5px center;
}
.page a.pleft:hover{
	background:url(../images/p_left1.jpg) #c7eaff no-repeat 5px center;
}
.page a.pright{
	padding-right:16px;
	background:url(../images/p_right.jpg) #fff no-repeat 48px center;
}
.page a.pright:hover{
	background:url(../images/p_right1.jpg) #c7eaff no-repeat 48px center;
}
.pageinfo {
    float:right;
    height:40px;
    padding-top:5px;
}
.pageinfo span {
	margin-right:5px;
	line-height:40px;
	float:left;
}
.pageboxa {
	margin-top:9px;
	height:22px;
	line-height:22px;
	font-size:12px;
	border:1px solid #d2d2d2; float:right;*float:none;
}
.pageinfo ul li img {
	margin:6px 0px 0px 0px;
}
.pageinfo .border{border:1px solid #3698d4;background:#c7eaff; line-height:30px; height:30px; width:60px; padding:4px 10px;}
.pageinfo .sure{ margin-top:4px;}

/***弹出框****/
.up_box01{background:url(../images/bg_01.png) no-repeat; width:310px;height:129px; text-align:center; position:fixed;top:30%;left:37%; font-size:14px; color:#06a109;}
.handle_s{ height:25px; margin-top:30px; margin-bottom:20px; text-align:center;line-height:30px;}
.handle_s img{margin-left:80px; float:left;}
.handle_s span {float:left; margin-left:10px;}
.up_box01 p input{ background-color:#3698d4;padding:6px 20px; color:#fff;font-weight:bold;}
.cross_r_s{ background:url(../images/cross.png) no-repeat; width:32px; height:27px; position:absolute; top:-4px; left:260px;}
.up_box02{width:auto;height:43px;position:absolute;left:40%; top:10%; height:43px; font-size:14px; color:#06a109; padding-left:50px; line-height:38px;}
.up_box02 .lbox{background:url(../images/sysmsg_right.png); width:45px;height:43px; float:left;}
.up_box02 .rbox{background:url(../images/error_bg.png) right; width:auto;height:43px; padding-right:15px;float:left; color:#018a24;}
.up_box03{width:auto;height:43px;position:absolute;left:40%; top:10%; height:43px; font-size:14px; color:#06a109; padding-left:50px; line-height:38px;}
.up_box03 .lbox{background:url(../images/sysmsg_wrong.png); width:45px;height:43px; float:left;}
.up_box03 .rbox{background:url(../images/error_bg.png) right; width:auto;height:43px; padding-right:15px;float:left;color:#ea0616;}
.up_box04{width:auto;height:43px;position:absolute;left:30%; top:10%; height:43px; font-size:14px; color:#06a109; padding-left:50px; line-height:38px;}
.up_box04 .lbox{background:url(../images/sysmsg_msg.png); width:40px;height:43px; float:left;}
.up_box04 .rbox{background:url(../images/error_bg.png) right; width:auto;height:43px; padding-right:15px;float:left;color:#dc7200;}
.up_box05{width:auto;height:43px;position:absolute;left:40%; top:10%; height:43px; font-size:14px; color:#06a109; padding-left:50px; line-height:38px;}
.up_box05 .lbox{background:url(../images/sysmsg_none.png); width:11px;height:43px; float:left;}
.up_box05 .rbox{background:url(../images/error_bg.png) right; width:auto;height:43px; padding-right:15px;float:left;color:#ea0616;}
/***下拉****/
.s_tselect{ line-height:28px; margin-top:10px;}
.pitch_up_no{ border:1px solid #ccc;padding:0px 8px; height:16px; margin-right:2px;}
.pitch_up{ background:url(../images/pic02.png) no-repeat 2px; padding:0px 8px; height:16px;border:1px solid #ccc;margin-right:2px;}
.pull_down_select{ border:1px solid #ccc;line-height:22px; margin:auto 6px; height:22px; background-color:#f8f8f8;float:left; position:relative; border-left:none; border-right:none;}
.p_xiala{background:url(../images/select_xiala.jpg) no-repeat right;cursor:hand; cursor:pointer; float:right; width:22px; height:22px; position:absolute; top:1px;}
.leibie_list{ float:left; width:60px; line-height:26px;}
.pull_down_select ul{ border:1px solid #ccc; background-color:#fff; border-top:none;}
.pull_down_select .on_hover{ background-color:#3399ff; color:#fff;}
.pull_down_select ul li{ width:107px; overflow:hidden; height:24px; padding-left:2px;}
 .pull_down_select ul{ float:left; width:110px;}
 .p_xiala{ left:88px;}
 .until{ float:left;}
 
.sel_t{background:url(../images/select_01.jpg) no-repeat; width:18px; height:18px;  float:left; margin-top:6px;}
.sel_t_on{background:url(../images/select_02.jpg) no-repeat; width:18px; height:18px; margin-top:6px;}
.te_text{ line-height:30px; margin-right:10px; padding-right:10px;}
/**页面左右结构**/
.page_ubox{margin-left:5%; margin-right:5%;width:90%; line-height:26px; margin-bottom:50px;}
.page_ubox .mleft{margin-left:134px;}
.page_ubox .tab_titles{ width:100px; float:left; text-align:right; margin-left:34px;margin-top:10px;}
.page_ubox .l_width{width:auto; margin-left:0px;}
.page_ubox .tab_infoss{ width:auto; float:left;margin-top:10px; max-width:900px;}
.page_ubox .tab_infoss span {padding-right:10px;}
.page_ubox .tab_infoss .tips{ padding-left:10px; color:#999;}
.page_ubox .minwidth {min-width:290px;}
.page_ubox .tab_infoss .nofloat{float:none;}
.page_ubox .inputbox{height:28px; border:1px solid #ccc; background:#f8f8f8;line-height:28px;}
.page_ubox .inputbox1{height:20px; border:1px solid #ccc; background:#f8f8f8;line-height:20px;}
.page_ubox .inputarea{border:1px solid #ccc; background:#f8f8f8;line-height:28px; overflow-y:auto;}
.page_ubox .edit_box{height:100%; overflow:hidden; white-space:normal;}
.page_ubox small{color:#F00; padding-left:5px; font-size:12px;}
.page_ubox p{ text-align:center;}
.page_ubox p .submit_b{ background-color:#363b54; height:36px; width:100px; text-align:center; color:#fff; margin-top:20px; font-size:14px; padding-bottom:4px;font-weight:bold; font-family:"微软雅黑";}
.page_ubox .btn_blist{ background-color:#ccc;width:80px;line-height:26px; height:30px; padding-bottom:4px;}
.page_ubox .up_pic{float:left; text-align:center;}
.page_ubox .up_pic img{ max-width:150px; max-height:150px; border:1px solid #ccc;padding:1px; margin-right:10px;}
.nobottom{ margin-bottom:0px;}
.page_ubox .tab_titles_a{ width:260px;float:left;}
.bg_color{ background-color:#fafafa; padding:15px; margin-right:10px;}
/*活动管理页面*/
.border_t{ border:1px solid #ccc; padding:10px; max-width:800px;  height:100%; overflow:hidden;}
.border_t span{white-space:nowrap; float:left; margin-right:10px;}
.border_x{ border:1px solid #ccc; padding:10px; max-width:800px;  height:100%; overflow:hidden;}
.border_x span{ float:none; margin-right:10px;}
.tab_infoss .list_page{ text-align:left;}

/*系统错误提示*/
.validation-summary-errors{text-align: center; padding: 3px;color: red;width: auto;margin: 5px; }
.padleft{ padding-left:20px;}
.tcenter{ text-align:center;}
.inputbox{height:26px; border:1px solid #ccc; background:#f8f8f8;line-height:26px;}
.inputbox_01{height:28px; border:1px solid #ccc; background:#fff;line-height:28px;}
.submit_b_search{ background-color:#363b54;text-align:center; color:#fff; padding:8px 15px;}
.button_btn_s{background-color:#3698d4; padding:6px 14px; text-align:center; color:#fff; margin-left:6px;}
.button_btn_s a{color:#fff;}
.button_page_b{background-color:#3698d4; color:#fff; font-size:16px; text-align:center;border:none;padding:8px 20px;}
.button_page_b a{color:#fff;}

.s_submit{ background-color:#66B0DF;text-align:center; color:#fff; padding:4px 10px;font-weight:bold;}
/*底部间距样式*/
.foot_space{width:100%; height:50px;}
/*底部返回样式*/
.foot_back{width:100%; height:30px; line-height:30px; text-align:right;}
.foot_back a{ color:#fff; background:#3698D4; padding:7px 10px;}
.foot_back a:hover{background:#0a70ae;}

/* Pages /////////////////////////////////////////////////////////////////////////////////*/
#pages { padding: 10px;}

#pages ul li { float: left; padding-left: 5px; }

.thisclass span{ border: 1px solid #2979ff; padding: 4px 8px; background-color: #2979ff; color: #fff; line-height: 2em;  }

#pages ul { float: right;} 

#pages ul li a { border: 1px solid #f3f3f3; color: #444; padding: 4px 8px; line-height: 2em; background-color: #f3f3f3;}

#pages ul li a:hover { border-color: #2979ff; }




