@charset "utf-8";
/* CSS Document */
.login_top{background:url(../images/login_topbg.jpg) repeat-x;  height:106px; width:100%;}
.all_page{width:1000px;margin:0 auto;}
.login_top img{ margin:24px auto auto 10px;}
.body_center{ text-align:center; line-height:24px; margin-top:150px; min-height:300px;}
.login_name{float:left; font-size:16px; margin-left:300px;_margin-left:150px; width:80px;line-height:34px;height:34px; font-family:"微软雅黑";}
.body_center .list input{ background-color:#f6f6f6; border:1px solid #c3c3c3; height:34px; line-height:34px; width:250px; float:left; font-size:16px;}
.c_text{font-size:30px; margin:10px auto 40px auto; font-weight:400; font-family:"微软雅黑";}
.body_center .list{ margin-top:20px;width:1000px;  clear:both; overflow:hidden;}
.sure_btn{background-color:#3698d4; width:110px; height:40px; text-align:center; font-size:20px; color:#FFF;font-family:"微软雅黑";}
.btn{ padding-top:30px;}
.bottom{ border-top:1px solid #eaebeb; text-align:center; line-height:50px;width:100%;bottom:0px; background:#fff; position:fixed;}